*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(37, 116, 169);
    text-align: center;
    font-family: sans-serif;
    text-align: center;
    margin-top: 5%;
    
}